.btn{
    text-decoration: none;
    border: 3px solid ;
    padding: 5px;
    border-radius: 10px;
    transition: all 200ms ease-in;
    color: red; 
}

.btn:hover{
    background-color: pink;
    color: aliceblue;
    padding: 7px;
}

@font-face {
    font-family: Matemasie;
    src: url('Matemasie-Regular.ttf');
}

body{
    font-family: Matemasie;
}